.container{
    margin-top: 20px;
}
#text{
    text-align: center;
    margin: auto;
}
.card{
 float:left;
}
#bodycontainer{
    margin: auto;
    height:auto;
}
body{
    margin:auto;
}
.gandalfimg{
    height: 191px;
}
.gimleyimg{
    height: 191px;
}
.gimleycard{
    width:288px !important;
}
.gandalfcard{
    width: 257px !important;
    
}
.sauronText{
    margin: auto;
    font-size: 50px;
}
#sauronimg{
  width: 80%;
  height: auto;
  margin-right: 40px;
}
#versusimg{
    height: 30%;
    width: auto;
    margin-top: 60px;

}
.versusRow{
    margin-top: 40px;
    margin-bottom: 200px;
}
#versusColumn{
    text-align: center !important;
}
#fighterImage{
    width: 90%;
    height: auto;
    margin-left: 35px;
}
#sauroncol{
    text-align: center;

}
#chosenFighterColumn{
    text-align: center;
}
#resetButton{
    display: block;
    margin: auto;
}
#statRow{
    text-align: center;
    margin: auto;
    color: red;
    font-size: 28px;
}